@charset "UTF-8";
body {

}

.header {
    background-color: #323968;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-header {
    height: 80px;
}
.toplogo {
    width: 190px;
    height: 55px;
    margin-left: 72px;
    margin-top: 12px;
}

.topbtngroup {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.topbtn {
    background-color: transparent;
    width: 200px;
    height: 80px;
    padding: 0;
    border: 0;
    /*border-radius: 0;*/
}

.topbtn:hover {
    background-color: #505A9F;
}

.text_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

@font-face {
    font-family: Helvetica_Regular;
    src: url('../fonts/Helvetica.ttf');
}

/*line-height 与 font-size 的计算值之差（在 CSS 中成为“行间距”）分为两半，分别加到一个文本行内容的顶部和底部*/
.text_btn > .text_btn_CN {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 22px;

}
.text_btn > .text_btn_EN {
    font-size: 14px;
    color: #FFFFFF;
    font-family: Helvetica_Regular, sans-serif;
    line-height: 14px;
    margin-top: 9px;
}

.img_home {
    height: 650px;
}

.banner {
    text-align: center;
}

/*轮播器的自定义CSS*/
.carousel-indicators {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    bottom: 15px;
    left: 0;
    text-align: center;
}
.carousel-indicators > li {
    display: inline-block;
    width: 20px;
    height: 4px;
    cursor: pointer;
    margin: 0 0 0 9px;
    border-radius: 2px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border: 0;

}
.carousel-indicators > .active {
    width: 20px;
    height: 4px;
    margin: 0 0 0 9px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #4CB1FF;
    opacity: 0.8;
    border: 0;
}
.carousel-indicators:first-child {
    margin-left: 0;
}

.content_1 {
    text-align: center;
    height: 850px;
    padding: 0;
    /*margin-bottom: 42px;*/
}

.text_line_left {
    width: 30px;
    height: 2px;
    background-color: #323968;
    margin-right: 6px;
    float: right;
    position: relative;
    top: 50%;

}
.text_line_right {
    width: 30px;
    height: 2px;
    background-color: #323968;
    margin-left: 6px;
    float: left;
    position: relative;
    top: 50%;
}

.text_p_1 {
    font-size: 24px;
    color: #323968;

    margin: 0;
}

.text_row_1 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
    height: 34px;
    text-align: center;
}

/*垂直居中*/
.text_row_1T {
    margin-top: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_row_1T div {
    display: inline-block;
}


.text_line_container {
    padding: 0;
    height: inherit;

}

.text_p_container_1 {
    padding: 0;
    width: auto;
}

.text_row_2 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;

}

.text_p_container_2 {
    padding: 0;
}

.text_p_2 {
    font-family: 'Humanist521BT', sans-serif;
    font-size: 22px;
    line-height: 22px;
    color: #A4A4A4;

}

.text_row_3 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
}

.text_p_container_3 {
    padding: 0;
}

.text_p_3 {
    font-size: 14px;
    line-height: 26px;
    color: #323968;
}

.grid_row_1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
}
/*.grid_row_1:nth-child(1) {*/
    /*margin-left: 0;*/
/*}*/
.block_content {
    margin-left: 70px;
}

.text_label {
    font-size: 22px;
    line-height: 22px;
    color: #323968;
    margin-top: 31px;
    margin-bottom: 0;
}

.text_content {
    margin: 28px auto 0;
    font-size: 14px;
    color: #323968;
    line-height: 26px;
    max-width: 320px;
}

.img_home_content {
    width: 220px;
    height: 120px;
}

.text_line_leftT {
    width: 30px;
    height: 2px;
    background-color: #323968;
    margin-right: 6px;
    /*vertical-align: middle;*/

}

.text_1T {
    font-size: 24px;
    line-height: 24px;
    color: #323968;
}

.text_line_rightT {
    width: 30px;
    height: 2px;
    background-color: #323968;
    margin-left: 6px;
    /*vertical-align: middle;*/
}

.grid_row_2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
}

.content_2 {
    text-align: center;
    height: 650px;
    padding-top: 30px;
    background-image: url(../img/banner_home_2.png);
}

.text_row_2T {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_row_2T div {
    display: inline-block;
}

.text_row_3T {
    margin-top: 42px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_row_3T div {
    display: inline-block;
}

.content_3 {
    text-align: center;
    padding: 0;
    background: #FFFFFF;
    margin-bottom: 120px;
}

.slide_2 {
    margin-top: 59px;

    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide_2 div {
    display: inline-block;
}

/*垂直居中问题*/
.slide_2 > .logo_case_1,
.slide_2 > .logo_case_2,
.slide_2 > .logo_case_3 {
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 8px #ABB3BE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label_dir_left {
    width: 80px;
    height: 80px;
    margin-right: 22px;
    background-image: url(../img/icon_row_left.png);

}

.label_dir_right {
    width: 80px;
    height: 80px;
    margin-left: 22px;
    background-image: url(../img/icon_row_right.png);
}

.logo_case_1 {
    margin-right: 60px;
}

.logo_case_2 {

}

.logo_case_3 {
    margin-left: 60px;
}

.img_case {
    width: 280px;
    height: 100px;
    position: absolute;
    z-index: 0;
}

.logo_case_1 > .background_logo_case {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_case_2 > .background_logo_case {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_case_3 > .background_logo_case {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_logo_case {
    width: 300px;
    height: 200px;
    background: #75A2FF;
    opacity: 0.95;
    position: absolute;
    z-index: -1;
}
/*鼠标访问显示背景文字*/
.logo_case_1:hover > .background_logo_case {
    z-index: 1;
}

.logo_case_2:hover > .background_logo_case {
    z-index: 1;
}

.logo_case_3:hover > .background_logo_case {
    z-index: 1;
}

.text_logo_case {
    width: 260px;
    color: #FFFFFF;
    font-size: 16px;
    background: transparent;
    text-align: justify;
}

.footer {
    height: 300px;
    width: inherit;
    background-color: #323C50;
    padding-top: 50px;

}
.footer > .text_footer_1,
.footer > .text_footer_2,
.footer > .text_footer_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_footer_1 {
    font-size: 18px;
    color: #FFFFFF;

}
.text_footer_1 > * {
    display: inline-block;
}

.text__line_vertical_footer {
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    margin-left: 12px;
    margin-right: 12px;
}

.text_footer_2 {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 45px;
}
.text_footer_2 > * {
    display: inline-block;
}

.text_footer_3 {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 17px;
}

.img_about_phone {
    width: 24px;
    height: 24px;
    margin-right: 19px;
}

